.re-item{
	
    
    background-color: #f0f0f0;
    display: table-row;
    color: #5c5c5c;

}

.re-item:nth-child(odd) {
    
    background-color: #4074a9;
    display: table-row;
    font-size: 9pt;
    color: #ffff;

}
.re-item:nth-child(odd):hover {
    
    background-color: #dadada;

}

.re-item:nth-child(even) {
    
    background-color: #ffff;
    display: table-row;
    font-size: 9pt;
    color: #5c5c5c;

}

.re-item:nth-child(even):hover {
    
    background-color: #dadada;

}

.li-span {
    
    text-align: left;
    display: table-cell;
    padding: 6px;
    vertical-align: middle;
    
}
